[*.cs]

# Default severity for analyzer diagnostics with category 'Minor Code Smell'
dotnet_analyzer_diagnostic.category-Minor Code Smell.severity = none

# S4136: Method overloads should be grouped together
dotnet_diagnostic.S4136.severity = none

# CS8981: The type name only contains lower-cased ascii characters. Such names may become reserved for the language.
dotnet_diagnostic.CS8981.severity = none

# IDE0079: Remove unnecessary suppression
dotnet_diagnostic.IDE0079.severity = none
